<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<style>
    body {
        background-color: #f0ede7;
    }
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1f2247;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">US-Planet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" onclick="location.href='/board/notice/'">공지사항</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="location.href='/board/list/'">자유게시판</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" onclick="location.href='/product/list/'" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        상품게시판
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">디지털기기</a></li>
                        <li><a class="dropdown-item" href="#">가구</a></li>
                        <li><a class="dropdown-item" href="#">패션/잡화</a></li>
                        <li><a class="dropdown-item" href="#">도서</a></li>
                        <li><a class="dropdown-item" href="#">뷰티/미용</a></li>
                        <li><a class="dropdown-item" href="#">기타</a></li>
                    </ul>
                </li>
            </ul>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                <form action="/product/search/" class="d-flex" method="post">
                    <input class="form-control me-2" name="search" type="search" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">검색하기</button>
                </form>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-8">
            <div id="middle_left"><img src="https://cdn-icons-png.flaticon.com/512/1160/1160358.png" class="img-fluid"
                                       alt="..."></div>
            <hr>
            <div id="middle_left1">물건 교환 커뮤니티</div>
            <div id="middle_left2">서로의 물건을 통해서 추억을 공유할 수 있는 커뮤니티
                집에서 놀고 있는 물건들을 필요한 사람들에게 내가 필요한 물건과 교환하여 삶을 효용성을 높여보자!
            </div>
            <hr>
            <h1>실시간 인기매물</h1>

            <div class="card" style="width: 18rem;">
                {{ context_data|safe }}

                {% for product in products %}
                    {% if product.photo1 %}
                        <img src={{ product.photo1.url }} style="width:280px; height:300px class="card-img-top"/>
                    {% else %}
                        <img src="https://eng.ybmclass.com/toeic/img/noimage.gif">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">Card title->{{ product.title }}</h5>
                        <p class="card-text">작성자:{{ product.writer }}</p>
                        <div>등록시간 {{ product.write_time }}</div>
                        <div>지역 {{ product.location }}</div>
                        <div>조회수{{ product.count }}</div>
                        <div>좋아요 {{ product.count_like_user }}</div>

                        <a href='/product/list/{{ product.id }}'
                           class="btn btn-primary">{{ product.content|safe }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-4">
            <div class="login" id="middle_right">
                <br>
                <br>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <div><span style="color:#1f2247;" class="fs-4">{{ user }}</span>님 환영합니다!</div><br>
                    <button class="btn text-white" style="background-color:#1f2247" type="button"
                            onclick="location.href='/product/myPage/'">마이페이지
                    </button> <!--팁을 주자면 버튼 href=""에는 '/url정보/'를 GET하는 방식으로 넘어감-->
                    <button class="btn text-white" style="background-color:#1f2247" type="button"
                            onclick="location.href='account/logout/'">로그아웃
                    </button>
                    <hr>
                    <button class="btn text-white" style="background-color:#1f2247" type="button"
                            onclick="location.href='/board/list/'">자유게시판
                    </button>
                    <br>
                    <button class="btn text-white" style="background-color:#1f2247" type="button"
                            onclick="location.href='/board/notice/'">공지사항
                    </button>
                    <br>
                    <button class="btn text-white" style="background-color:#1f2247" type="button"
                            onclick="location.href='/product/list/'">상품게시판
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>