<!DOCTYPE>
<html>
<style>
    img{
        border-radius: 30px 30px 30px 30px;
    }
</style>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1f2247;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">G-ANABADA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                    <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">검색하기</button>
                    </form>
                </div>
        </div>
    </nav>
    <div class="row text-center" style="width: 100%">
        <div style="width: 60%; float:none; margin:0 auto" >

            <br>
            <br>

            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="https://image.musinsa.com/data/gift/2020100713381500000005521.jpg" class="d-block w-100" style="width: 100%; height:auto;" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://menu.mt.co.kr/moneyweek/thumb/2020/05/26/06/2020052618208000473_1.jpg" class="d-block w-100" style="width: 100%; height:auto;" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="http://file3.instiz.net/data/file3/2020/11/28/6/b/a/6ba4f9f1a5f0edad4a763b0090f0764c.gif" class="d-block w-100" style="width: 100%; height:auto;"  alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

            <br><hr>

            <dl class="row">
              <dt class="col-sm-2"><img src="https://www.ui4u.go.kr/depart/img/content/sub03/img_con03030100_01.jpg" width="50" height="50"></dt>
              <dt class="col-sm-6">회원id(근데 닉네임으로 고쳐야함) {{ product.writer }}</dt>
              <dd class="col-sm-4"></dd>

                <br><br><br><br>

              <dt class="col-sm-3" style="font-size: 30px;">Title {{ product.title }}</dt>
              <dd class="col-sm-9">
              </dd>

                <br>

              <dd class="col-sm-3">Category>  {{ product.category }}</dd>
              <dd class="col-sm-4">#해시태그 {{ object.hashtag }}</dd>
              <dd class="col-sm-3"></dd>
              <dd class="col-sm-2">{{ product.write_time.ctime }}</dd>

                <br><br><br><br>

              <dd class="col-sm-12"><p>내용 {{ product.content | safe }} Example>A description list is perfect for defining terms.A description list is perfect for defining terms.A description list is perfect for defining terms.A description list is perfect for defining terms.A description list is perfect for defining terms.A description list is perfect for defining terms.A description list is perfect for defining terms.A description list is perfect for defining terms.A description list is perfect for defining terms.A description list is perfect for defining terms.A description list is perfect for defining terms.A description list is perfect for defining terms.A description list is perfect for defining terms.A description list is perfect for defining terms.</p></dd>

            </dl>

            <br><br><br>

          <div class="position-relative">
            {% if request.session.id|safe  == product.writer|safe %}
              <div class="position-absolute top-50 start-0 translate-middle-y">
                <button class="btn text-white" style="background-color:#1f2247"  onclick="location.href='/product/edit/{{ product.pk }}/'">수정하기</button>
              </div>
              <div class="position-absolute top-50 end-0 translate-middle-y">
                <button class="btn text-white" style="background-color:#1f2247" onclick="location.href='/product/delete/{{ product.pk }}/'">삭제하기</button><br>
              </div>
            {% endif %}
          </div>

            <br>
            <hr>

            {% for comment in product.comments.all %}
            <figure class="text-end">
              <blockquote class="blockquote">
                <p>{{ comment.content }}</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                {{ comment.user }}
              </figcaption>
            </figure>
            {% endfor %}

            <script>markupStr</script>


            {% if user.is_authenticated %}
                    <form action="/product/comment/{{ product.pk }}/" method="POST">
                    {% csrf_token %}
                         <div class="input-group mb-3">
                          <input type="text" class="form-control" name="content" id="content" placeholder="댓글을 입력하세요" aria-label="Recipient's username" aria-describedby="button-addon2">
                          <button class="btn text-white" style="background-color:#1f2247" type="submit" id="button-addon2" value="Submit">Submit</button>
                        </div>
                    </form>
            {% endif %}

        <br><br>

            <div class="position-relative">
                <div class="position-absolute bottom-0 start-0">
                        <button id="prev" class="btn btn-outline-secondary" type="button" onclick="location.href='/product/list/'">이전</button>
                </div>
                <div class="position-absolute bottom-0 end-0">
                        <button type="button" class="btn btn-outline-secondary" onclick="location.href='/'">메인 페이지</button>
                </div>
            </div>

        <br><br>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>